
h1{
   color: #f77e7e;
   font-size: 100px;
   font-family: 'Press Start 2P', cursive;
   text-align: center;
   background-image: url(../images/socialdistancing.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: top;
   border-color: #f77e7e;
   border-width: 5px;
   border-style: dotted;
   border-radius: 20px;
   padding-bottom: 85px;
   margin-top: 20px;
}

h2{
  color: #303960;
  font-size: 20px;
  font-family: 'Press Start 2P', cursive;
  text-align: center;
}

audio, video{
  display: block;
  justify-content: center;
  align-items: center;
  margin: auto;
}

button {
  padding: 8px;
  margin: 1px 1px 1px 50px;
  font-family: 'Press Start 2P', cursive;
  font-size: 12px;
  background-color: #f77e7e;
  color: black;
  border-radius: 70px;
  border-color: white;
  color: white;
}

a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
  margin-left: 800px;
  margin-bottom: 20px;
  font-family: 'Press Start 2P', cursive;
}

a:hover {
  background-color: #ddd;
  color: black;
}

.previous {
  background-color: #f1f1f1;
  color: black;
}

.next {
  background-color: #4CAF50;
  color: white;
}

.round {
  border-radius: 50%;
}

#timer {
  background-color: #004d00;
  height: 50px;
  width: 90vw;
  margin: 0 4vw;
}

.width-change {
  animation-name: widthChange;
  animation-duration: 30s;
}

@keyframes widthChange {
  0%   {width: 90vw;}
  /* 25%  {width: 67.5vw;}
  50%  {width: 45vw;}
  75%  {width: 22.5vw;} */
  100% {width: 0vw;}
}
