* {
  box-sizing: border-box;
}

body {
  background-color: #474747;
  text-align: center;
  margin: auto;
}

.header {
  padding: 20px;
  text-align: center;
  /* background-image: url(../images/socialdistancing.jpg); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  opacity: 0.7;
}

.header::after {
  content: "";
  background: url(../images/socialdistancing.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  opacity: 0.15;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  position: absolute;
}

h1 {
   color: #CC527A;
   font-size: 130px;
   font-family: 'Courier New', Courier, monospace;
   margin: 25px;
   position: relative;
}

h2 {
  color: white;
  font-size: 15px;
  font-family: 'Courier New', Courier, monospace;
  position: relative;
}

p {
  color: white;
  font-size: 30px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 700;
}

.warning{
  /* color: #E8175D; */
  font-size: 35px;
  animation-name: flash;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
}

@keyframes flash {
  0% {color: #E8175D;}
  20% {color: red;}
  40% {color: yellow;}
  60% {color: blue;}
  80% {color: green;}
  100% {color: white;}
}

.typewriter h2{

  overflow: hidden;
  border-right: .15em solid #E8175D;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .10em;
  animation:
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

@keyframes typing{
  from {width: 0}
  to {width: 100%}
}

@keyframes blink-caret{
  from, to {border-color: transparent}
  50% {border-color: #E8175D;}
}

video, canvas {
  vertical-align: top;
  margin: auto;
  width: 33.33%;
  padding: 15px;
  float: left;
  position: relative;
}

/* #c1 {
  width: 33.33%;
} */

#videos {
  text-align: center;
}

#buttonBlock {
  padding: 20px;
}

button {
  padding: 10px;
  margin: 0px 25px 0px 25px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 14px;
  background-color: #CC527A;
  border: none;
  /* border-radius: 70px;
  border-color: white; */
  color: white;
  position: relative;
}

button:hover {
  background-color: #E8175D;
}


a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
  margin-left: 800px;
  margin-bottom: 20px;
  font-family: 'Courier New', Courier, monospace;
}

a:hover {
  background-color: #ddd;
  color: black;
}

.previous {
  background-color: #f1f1f1;
  color: black;
}

.next {
  background-color: #4CAF50;
  color: white;
}

.round {
  border-radius: 50%;
}

#time-bar{
  background-color: #CC527A;
  height: 30px;
  width: 90%;
  margin: 0 4vw;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #CC527A;
  opacity: 0.7;
  text-align: center;
}

/* AD SECTION */
#ad1 {
  position: fixed;
  visibility: hidden;
  text-align: center;
  width: 300px;
  padding: 10px;
  border: 1px solid black;
  background-color: #ddd;
  left: 140px;
  top: 750px
}

#ad2 {
  position: fixed;
  visibility: hidden;
  text-align: center;
  width: 300px;
  padding: 10px;
  border: 1px solid black;
  background-color: #ddd;
  left: 1160px;
  top: 750px
}
#ad3 {
  position: fixed;
  visibility: hidden;
  text-align: center;
  width: 300px;
  padding: 10px;
  border: 1px solid black;
  background-color: #ddd;
  left: 300px;
  top: 120px
}
#ad3 {
  position: fixed;
  visibility: hidden;
  text-align: center;
  width: 300px;
  padding: 10px;
  border: 1px solid black;
  background-color: #ddd;
  left: 800px;
  top: 68px;
}
#ad4 {
  position: fixed;
  visibility: hidden;
  text-align: center;
  width: 300px;
  padding: 10px;
  border: 1px solid black;
  background-color: #ddd;
  left: 860px;
  top: 20px;
}
#ad5 {
  position: fixed;
  visibility: hidden;
  text-align: center;
  width: 300px;
  padding: 10px;
  border: 1px solid black;
  background-color: #ddd;
  left: 1260px;
  top: 450px;
}
#ad6 {
  position: fixed;
  visibility: hidden;
  text-align: center;
  width: 300px;
  padding: 10px;
  border: 1px solid black;
  background-color: #ddd;
  left: 1050px;
  top: 350px;
}
#ad7 {
  position: absolute;
  position: fixed;
  visibility: hidden;
  text-align: center;
  width: 300px;
  padding: 10px;
  border: 1px solid black;
  background-color: #ddd;
  left: 550px;
  top: 750px;
}
#ad8 {
  position: fixed;
  visibility: hidden;
  text-align: center;
  width: 300px;
  padding: 10px;
  border: 1px solid black;
  background-color: #ddd;
  left: 250px;
  top: 350px;
}
#ad9 {
  position: fixed;
  visibility: hidden;
  text-align: center;
  width: 300px;
  padding: 10px;
  border: 1px solid black;
  background-color: #ddd;
  left: 150px;
  top: 250px;
}
#ad10 {
  position: fixed;
  visibility: hidden;
  text-align: center;
  width: 300px;
  padding: 10px;
  border: 1px solid black;
  background-color: #ddd;
  left: 50px;
  top: 100px;
}
#ad11 {
  position: fixed;
  visibility: hidden;
  text-align: center;
  width: 300px;
  padding: 10px;
  border: 1px solid black;
  background-color: #ddd;
  left: 850px;
  top: 100px;
}
#ad12 {
  position: fixed;
  visibility: hidden;
  text-align: center;
  width: 300px;
  padding: 10px;
  border: 1px solid black;
  background-color: #ddd;
  left: 950px;
  top: 200px;
}
#ad13 {
  position: fixed;
  visibility: hidden;
  text-align: center;
  width: 300px;
  padding: 10px;
  border: 1px solid black;
  background-color: #ddd;
  left: 1050px;
  top: 400px;
}
#singlewomen {
  position: fixed;
  visibility: hidden;
  text-align: center;
  width: 300px;
  padding: 10px;
  border: 1px solid black;
  background-color: #ddd;
  left: 30px;
  top: 10px
}

