* {
  box-sizing: border-box;
}

body {
  background-color: #474747;
  text-align: center;
  margin: auto;
}

.header {
  padding: 20px;
  text-align: center;
  /* background-image: url(../images/socialdistancing.jpg); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  opacity: 0.7;
}

.header::after {
  content: "";
  background: url(../images/socialdistancing.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  opacity: 0.15;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  position: absolute;
}

h1 {
   /* https://codepen.io/AllThingsSmitty/pen/VzXrgY*/
   color: #fff;
   text-shadow:
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px #FF00BB,
    0 0 80px #FF00BB,
    0 0 90px #FF00BB,
    0 0 100px #FF00BB,
    0 0 150px #FF00BB;
   font-size: 130px;
   font-family: 'Courier New', Courier, monospace;
   margin: 25px;
   position: relative;
   text-align: center;
}

h2 {
  color: brown;
  font-size: 15px;
  font-family: 'Courier New', Courier, monospace;
  position: relative;
  font-weight: 700;
}

p {
  color: white;
  font-size: 25px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 700;
}

.warning{
  /* color: #E8175D; */
  font-size: 35px;
  animation-name: flash;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
}

@keyframes flash {
  0% {color: #E8175D;}
  20% {color: red;}
  40% {color: yellow;}
  60% {color: blue;}
  80% {color: green;}
  100% {color: white;}
}

.typewriter h2{

  overflow: hidden;
  border-right: .15em solid #E8175D;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .10em;
  animation:
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

@keyframes typing{
  from {width: 0}
  to {width: 100%}
}

@keyframes blink-caret{
  from, to {border-color: transparent}
  50% {border-color: #E8175D;}
}

#showVideo{
  vertical-align: top;
  margin: auto;
  width: 50%;
  padding: 10px;
  float: left;
  position: absolute;
  z-index: 0;
}


#c1 {
  float: left;
  width: 60%;
  height: auto;
  margin-left: 20vw; 
  position: absolute;
  vertical-align:top;
  left: 0;
  z-index: 1;
}

#recorded{
  margin: 0, 4vw;
  width: 50%;
  height: 50%;
  position: relative;
  vertical-align:top;
  left: 0;
  z-index: 2;
}

#videos {
  text-align: center;
  position: float;
}

#buttonBlock {
  padding: 20px;
}
#start{
  font-size: 20px;
}
button {
  padding: 20px;
  margin: 0px 25px 0px 25px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 14px;
  background-color: #CC527A;
  border: none;
  /* border-radius: 70px;
  border-color: white; */
  color: white;
  position: relative;
}

button:hover {
  background-color: #E8175D;
}



a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
  margin-left: 800px;
  margin-bottom: 20px;
  font-family: 'Courier New', Courier, monospace;
}

a:hover {
  background-color: #ddd;
  color: black;
}

.previous {
  background-color: #f1f1f1;
  color: black;
}

.next {
  background-color: #4CAF50;
  color: white;
}

.round {
  border-radius: 50%;
}

#time-bar{
  background-color: #CC527A;
  height: 30px;
  width: 90%;
  margin: 0 4vw;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 8%;
  background-color: #CC527A;
  opacity: 0.7;
  text-align: center;
  z-index: 5;
}
